.App {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 0.5vmin);
  padding: 1vh 0;
}

.App-body {
  font-size: calc(10px + 1vmin);
}

.Next {
  padding: 2vh
}

.Next-btn {
  padding: 1vh;
  font-size: calc(10px + 1vmin);
  border-radius: 5px;
  border: none;
}

img.Interviewer {
  width: 70vw;
  max-width: 600px;
}

.question {
  font-size: calc(10px + 4.0vmin);
}

.info {
  font-size: calc(10px + 0.5vmin);
  width: 60%;
  padding: 2vh 0;
}
