.App-Container {
  margin: auto;
  margin-bottom: 10vh;
}

.App {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9999999;
  background-color: #282c34;
}

.Nav-btn {
  flex-grow: 1;
  height: 50px;
  font-size: calc(10px + 1vmin);
  border-radius: 0px;
  border: none;
  background-color: #5d5d5d;
  color: #fff;
}

.Next-btn {
  background-color: #1bb100;
}

.Nav-btn:not(:first-child) {
  border-left: solid 1px #282c34;
}

.Interviewer,
.Question {
  width: 100%;
}

.Interviewer {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Question {
  height: 35vh;
  font-size: calc(10px + 2.0vmin);
  padding: 1vw 0 0;
}

.question-text {
  padding: 0 5vw;
}

.About {
  width: 80vw;
  margin: auto;
  font-size: calc(10px + 0.5vmin);
}

.info {
  padding: 2vh 0;
}

.data-table {
  border: solid #fff 1px;
}

.data-table td {
  border: solid #747474 1px;
}

.interviewer-0 {
  background-image: url('./interviewers/0.jpg');
}

.interviewer-1 {
  background-image: url('./interviewers/1.jpg');
}

.interviewer-2 {
  background-image: url('./interviewers/2.jpg');
}

.interviewer-3 {
  background-image: url('./interviewers/3.jpg');
}

.interviewer-4 {
  background-image: url('./interviewers/4.jpg');
}

.interviewer-5 {
  background-image: url('./interviewers/5.jpg');
}

.interviewer-6 {
  background-image: url('./interviewers/6.jpg');
}

.interviewer-7 {
  background-image: url('./interviewers/7.jpg');
}

.interviewer-8 {
  background-image: url('./interviewers/8.jpg');
}

.interviewer-9 {
  background-image: url('./interviewers/9.jpg');
}

.interviewer-10 {
  background-image: url('./interviewers/10.jpg');
}

.interviewer-11 {
  background-image: url('./interviewers/11.jpg');
}

.interviewer-12 {
  background-image: url('./interviewers/12.jpg');
}

.interviewer-13 {
  background-image: url('./interviewers/13.jpg');
}

.interviewer-14 {
  background-image: url('./interviewers/14.jpg');
}

.interviewer-15 {
  background-image: url('./interviewers/15.jpg');
}

.interviewer-16 {
  background-image: url('./interviewers/16.jpg');
}

.interviewer-17 {
  background-image: url('./interviewers/17.jpg');
}

.interviewer-18 {
  background-image: url('./interviewers/18.jpg');
}
